:root{
    --bg: #16171C;
    --dark-card: #1F2026;
    --card: #202128;
    --stroke: #323339;
    --grey-text: #D8EBEE33;
    --light-stroke: #D8EBEE52;
    --body-text: #D8EBEE;
    --white: #FFFFFF;
    --text: #EAE3F0;
    --btn: #EADCF6;
    --purple-text: #9D4EDD;
    --purple: #B860FF;
}