/* углы */

.angles {
    position: relative;

    padding-block: 1.25rem;
}

.angles::before {
    position: absolute;
    inset: -1px;

    content: "";

    --b: 1px;
    /* thickness of the border */
    --c: #474950;
    /* color of the border */
    --w: 20px;
    /* width of border */

    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g) 0) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

.angles-white {
    position: relative;

    /* padding-block: 1.25rem; */
}

.angles-white::before {
    position: absolute;
    inset: -1px;

    content: "";

    --b: 1px;
    /* thickness of the border */
    --c: #ffffff;
    /* color of the border */
    --w: 10px;
    /* width of border */

    border: var(--b) solid #0000;
    /* space for the border */
    --_g: #0000 90deg, var(--c) 0;
    --_p: var(--w) var(--w) border-box no-repeat;
    background:
        conic-gradient(from 90deg at top var(--b) left var(--b), var(--_g) 0) 0 0 / var(--_p),
        conic-gradient(from 180deg at top var(--b) right var(--b), var(--_g)) 100% 0 / var(--_p),
        conic-gradient(from 0deg at bottom var(--b) left var(--b), var(--_g)) 0 100% / var(--_p),
        conic-gradient(from -90deg at bottom var(--b) right var(--b), var(--_g)) 100% 100% / var(--_p);
}

/* purple-effect */

.purple-effect1 {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.purple-effect1::after {
    content: "";
    position: absolute;
    top: 0;
    right: -24%;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    background-image: linear-gradient(90deg, #16171c 0%, #A100FF00 48%, #141119 100%), url('../images/PurpleEffect2.png');
    /* путь к твоему изображению */
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: -1;
    /* помещаем фон под текст */
}

.purple-effect2 {
    position: relative;
    z-index: 1;
    /* overflow: hidden; */
}

.purple-effect2::before {
    content: "";
    position: absolute;
    top: 0;
    left: -35%;
    width: 100%;
    height: 100%;
    transform: rotate(180deg);
    background-image: linear-gradient(90deg, #16171c 0%, #A100FF00 48%, #141119 100%), url('../images/PurpleEffect2.png');
    /* путь к твоему изображению */
    background-repeat: no-repeat;
    opacity: 0.35;
    z-index: -1;
    /* помещаем фон под текст */
}

.purple-effect3 {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.purple-effect3::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -21%;
    width: 60%;
    height: 100%;
    transform: rotate(90deg);
    background-image: linear-gradient(90deg, #141119 0%, #A100FF00 48%, #141119 100%), url('../images/PurpleEffect1.png');
    /* путь к твоему изображению */
    background-position: 0 80%;
    background-blend-mode: multiply;
    opacity: 0.35;
    z-index: -1;
    /* помещаем фон под текст */
}

.purple-effect4 {
    position: relative;
    z-index: 1;
}

.purple-effect4::before {
    content: "";
    position: absolute;
    bottom: -60%;
    right: -10%;
    width: 80%;
    height: 100%;
    transform: rotate(335deg);
    background-image: linear-gradient(90deg, #141119 0%, #14111900 49%, #141119 100%),
        url('../images/PurpleEffect1.png');
    /* путь к твоему изображению */
    opacity: 0.35;
    background-position: 0 70%;
    z-index: -1;
    /* помещаем фон под текст */
}


.products-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.reviews-section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

.reviews-section h2 {
    max-width: 678px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    width: 90%;
}

.review-container {
    margin: 0 20% 0 0;
}

.review-container:nth-child(4n) {
    margin: 0 0 0 20%;
}

/* category */


.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 2rem;
    max-width: 90%;
    margin: 0 auto;
}

.third-row-item {
    display: none;
}

.div1 {
    grid-row: span 2 / span 2;
}

.div6 {
    grid-column-start: 2;
}

.div7 {
    grid-column-start: 3;
}

.div8 {
    grid-column-start: 4;
}

.div9 {
    grid-column-start: 5;
}

.div10 {
    grid-row-start: 3;
}

.div11 {
    grid-row-start: 3;
}

.div12 {
    grid-row-start: 3;
}

.div13 {
    grid-column: span 2 / span 2;
    grid-row-start: 3;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}


/* catalog */
.top-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.top-left-container {
    display: flex;
    flex-direction: column;
    max-width: 38.125rem;
    gap: 5rem;
    padding: 2rem;

    h2 {
        margin-bottom: 1.5rem;
    }
}

.promo-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2rem;
    min-width: 63rem;
    min-height: 24.375rem;
    /* height: 100%;
    width: auto; */

    background-image: url(/src/assets/images/PromoBanner.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.promo-banner h3 {
    max-width: 24.5rem;
    font-size: 1.75rem;
    text-transform: uppercase;
}

.promo-banner p {
    max-width: 22.6875rem;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1.625rem;
    font-family: "JetBrainsMono";
}

/* вопрос-ответ каталог */

.faq-section {
    max-width: 1270px;
    margin: 0 auto;
    position: relative;
}

.faq-section h4 {
    max-width: 116px;
    transform: rotate(-90deg);
    position: absolute;
    z-index: 1;
    left: -25px;
    top: 278px;
}

.faq-container {
    background-image: url(/src/assets/images/FQBg.png);
    background-repeat: no-repeat;
    background-size: cover;

    color: oklch(from var(--body-text)l c h);
    padding: 28px 24px 20px 123px;
    position: relative;
    font-size: 20px;
    letter-spacing: 0.02em;
}

.faq-container h3 {
    font-size: 32px;
    background-image: linear-gradient(90deg, #e3c3fd 0%, #853ac2 100%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

    text-transform: uppercase;
    max-width: 10rem;
}

.faq-list {
    margin-top: 10px;
}

.faq-item {
    border-bottom: 1px dashed oklch(from var(--light-stroke)l c h);
    padding: 0;
}

.faq-question {
    padding: 17px 0 17px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: color 0.16s;
    text-transform: uppercase;
}

.faq-question:hover {
    color: #a386c8;
}

.arrow {
    margin-left: 18px;
    transition: transform 0.2s;
    width: 22px;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow::after {
    content: '';
    display: block;
    border: solid #dadada;
    border-width: 0 2px 2px 0;
    padding: 5px;
    transform: rotate(45deg);
    transition: border-color 0.2s;
}

.faq-item.open .arrow::after {
    border-color: #a386c8;
    transform: rotate(-135deg);
}

.faq-answer {
    font-size: 15px;
    padding: 0 3px 20px 0;
    display: none;
    animation: fadeIn .28s;
    line-height: 1.5;
}

.faq-item.open .faq-answer {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-8px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* категории товаров */

.products-tittle {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.products-tittle .breadcrumbs-nav {
    max-width: 400px;
}

.search-products {
    position: relative;
    text-transform: uppercase;
}

.search-products::after {
    content: url("src/assets/icons/Search.svg");
    position: absolute;
    top: 50%;
    right: 0.5rem;

    transform: translateY(-50%);

    /* width: 1rem;
    height: 1rem; */
}

.search-products input {
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    border: 1px solid oklch(from var(--stroke)l c h);
    max-width: 12rem;
    font-size: 16px;
    border-radius: 0.1rem;
    font-family: "JetBrainsMono";
    text-transform: uppercase;
}

.search input::-webkit-search-cancel-button {
    display: none;
}


select {
    appearance: none;

    @supports (appearance: base-select) {

        &,
        &::picker(select) {
            appearance: base-select;
        }
    }
}

&::picker(select) {
    padding: 0;
    margin-top: 5px;
    border: 2px solid hotpink;
    background: white;
    border-radius: 5px;
    font-weight: 400;

    opacity: 0;
    height: 0;
    overflow: clip;
    transition: height 0.5s ease-out, opacity 0.5s ease-out, overlay 0.5s,
        display 0.5s;

    transition-behavior: allow-discrete;
}

&:open::picker(select) {
    opacity: 1;
    height: calc-size(auto, size);
    overflow: auto;

    @starting-style {
        opacity: 0;
        height: 0;
    }
}

option {
    padding: 10px;
    border-top: 1px solid plum;
    cursor: pointer;
    transition-property: color, background;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;

    &:where(:hover, :focus, :active) {
        background: plum;
        color: white;
    }

    &:checked {
        background: violet;
        color: white;
    }

    &::checkmark {
        display: none;
    }

    &:first-child {
        border: 0;
    }
}


.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.75rem;
}

.products-tittle select {
    background-color: #ffffff00;
    border: 1px solid oklch(from var(--stroke)l c h);
    color: oklch(from var(--white)l c h);
    font-family: "JetBrainsMono";
    text-transform: uppercase;
    padding: 0.5rem 0.75rem 0.5rem 0.75rem;
    font-size: 16px;
    border-radius: 0;
}

.products-tittle option {
    background-color: oklch(from var(--card)l c h);
    color: oklch(from var(--white)l c h);
    border: 1px solid oklch(from var(--stroke)l c h);
    font-size: 14px;
    border: none;
}

.products-tittle option:hover {
    background-color: oklch(from var(--purple)l c h);
}