---
import PurpleTag from "./PurpleTag.astro";

interface FeatureItem {
    text: string;
}

export interface Props {
    mainTitle: string;
    tagText: string;
    descriptionText: string;
    featuresTitle: string;
    features: FeatureItem[];
}

const {
    mainTitle = "Комплектующие и кастомные сборки для гейминга и работы",
    tagText = "о компании",
    descriptionText = "Планируете собрать игровой, офисный или рабочий компьютер? Наш онлайн-конфигуратор позволит вам сделать это легко и элегантно. На первом шаге выберите корпус, затем – процессор, систему охлаждения, материнскую плату, оперативную память, видеокарту и другую комплектующие. Все выбранные элементы отображаются прямо на экране, чтобы вы могли заранее оценить внешний вид и компоновку будущего компьютера. Конфигуратор автоматически проверит совместимость деталей и предложит только подходящие варианты, избавляя вас от необходимости разбираться в технических нюансах.",
    featuresTitle = "ПРЕИМУЩЕСТВА ИСПОЛЬЗОВАНИЯ ВИЗУАЛЬНОГО КОНФИГУРАТОРА ПК",
    features = [
        {
            text: "Наглядная сборка в реальном времени — все выбранные компоненты отображаются на изображении, вы видите, как меняется ваш ПК с каждым шагом.",
        },
        {
            text: "Интеллектуальная фильтрация — показываются только совместимые комплектующие, что исключает ошибки при сборке.",
        },
    ],
} = Astro.props;
---

<div class="article">
    <header>
        <PurpleTag text={tagText} />

        <h2>{mainTitle}</h2>

        <p>{descriptionText}</p>
    </header>

    <div class="article-bottom">
        <h3>{featuresTitle}</h3>

        <div class="articles">
            
        </div>
    </div>
</div>

    <style>
        .article header{
            borderBottom: "1px solid #333",
            margin: "60px 0",
            maxWidth: "100%",
        }
        .article h2 {
            fontSize: "48px",
            fontWeight: "bold",
            lineHeight: "1.2",
            maxWidth: "800px",
            color: "#f0f0f0",
            marginBottom: "40px",
        }
        .article p {
            fontSize: "18px",
            lineHeight: "1.6",
            maxWidth: "900px",
            color: "#b0b0b0",
        }
        .article-bottom{
            maxWidth: "1200px", 
            margin: "0 auto"
        }
        .article-bottom h3{
            fontSize: "32px",
            fontWeight: "bold",
            color: "#7a42f4",
            marginBottom: "40px",
        }
        .articles{
            fontSize: "32px",
            fontWeight: "bold",
            color: "#7a42f4",
            marginBottom: "40px",
        }
    </style>
</div>
