---
import type { CollectionEntry } from 'astro:content'; 

interface Item {
    text: string;
    href: string;
}

interface Props {
    items: Item[]; 
}

const { items } = Astro.props;

const separator = ' // ';
const lastIndex = items.length - 1; 
---

<nav class="breadcrumbs-nav" aria-label="Хлебные крошки">
    <ol class="breadcrumbs-list">
        {items && items.map((item, index) => (
            <li class:list={["breadcrumb-item", { 'is-current': index === lastIndex }]}>
                {/* Если это не последний элемент, используем ссылку */}
                {index !== lastIndex ? (
                    <a href={item.href} class="breadcrumb-link">
                        {item.text}
                    </a>
                ) : (
                    /* Если это последний (текущий) элемент, используем <span> */
                    <span class="breadcrumb-current-page">
                        {item.text}
                    </span>
                )}
                
                {/* Добавляем разделитель, если это не последний элемент */}
                {index < lastIndex && <span class="breadcrumb-separator" aria-hidden="true">{separator}</span>}
            </li>
        ))}
    </ol>
</nav>

<style>
    .breadcrumbs-nav {
        padding: 20px 0;
        width: 100%;
    }

    .breadcrumbs-list {
        display: flex;
        list-style: none;
        padding: 0 40px;
        margin: 0;
        font-family: "JetBrainsMono";
        font-size: 12px;
        text-transform: uppercase;
    }

    .breadcrumb-item {
        display: flex;
        align-items: center;
        color: #D8EBEE33;
        font-weight: 500;
        white-space: nowrap;
    }

    .breadcrumb-link {
        color: inherit;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .breadcrumb-link:hover {
        color: #8c95a0;
    }

    .breadcrumb-separator {
        padding: 0 10px;
        color: inherit; 
    }

    .breadcrumb-item.is-current {
        color: #ffffff;
        font-weight: 700;
    }

    .breadcrumb-current-page {
        text-decoration: none;
        color: inherit;
    }
</style>