---
import BtnIcon from "../assets/icons/product-card/btn-arrow.svg";

interface Props {
  text: string;
}
const {
  text="заказать"
} = Astro.props;
---

<div class="btn-with-label">
  <span class="label">{text}</span>
  <button class="btn order-btn">
    <BtnIcon />
  </button>
</div>

<style>
  .btn-with-label {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }

  .order-btn {
    padding: 0.75rem;
    background-color: #eadcf6;
    clip-path: polygon(
      10% 0,
      90% 0,
      100% 10%,
      100% 90%,
      90% 100%,
      10% 100%,
      0 90%,
      0 10%
    );

    transition:
      background-color 0.2s ease-in-out,
      fill 0.2s ease-in-out;
  }

  .order-btn:hover {
    background-color: #b860ff;
  }

  .order-btn:hover svg {
    fill: #ffffff;
  }

  .order-btn svg {
    fill: #16171c;

    width: 12px;
    height: 12px;
  }

  .label {
    font-family: "JetBrainsMono", sans-serif;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  @media (width >= 768px) {
    .label {
      font-size: 1rem;
    }

    .order-btn {
      padding: 1rem;
    }
  }
</style>
