---
import "../assets/css/app.css";
---

<!doctype html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/Srf.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>srf</title>
  </head>
  <body>
    <!-- <MainHeader /> -->
    <slot />
  </body>
</html>
